<!DOCTYPE html>
<html lang="en">
  <style>
  /* These are example-specific */
  .react-toggle {
    margin-right: 8px;
    vertical-align: middle;
  }
  label,
  .label-text {
    vertical-align: middle;
    font-weight: normal;
    margin-bottom: 0; /* override bootstrap */
  }
  .example {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  pre {
    margin-top: 8px;
  }
  table, th, td {
    border 1px solid black;
  }
  </style>
  <head>
    <meta charset="utf-8">
    <title>Flask with WebPack</title>
  </head>
  <body>
    <div id="application"></div>
    {{ javascript_tag("app_js") | safe }}
  </body>
</html>
